<!DOCTYPE html>
<html>
<head>
    <title>Character and Event Creation</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Tell me about yourself and the event. I will then help you simulate what it would be like if you experienced the event.</h2>
        <form method="post" action="{{ url_for('char_and_event') }}" novalidate class="mt-4">
            {{ character_form.hidden_tag() }}
            {{ event_form.hidden_tag() }}

            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">Information</h3>
                    {% for field in character_form %}
                        <div class="form-group">
                            {{ field.label(class="form-control-label") }}
                            {{ field(class="form-control", placeholder=field.label.text) }}
                            {% if field.errors %}
                                <div class="invalid-feedback">
                                    {% for error in field.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Event</h3>
                    <div class="form-group">
                        {{ event_form.event_name.label(class="form-control-label") }}
                        {{ event_form.event_name(class="form-control", placeholder=event_form.event_name.label.text) }}
                        {% if event_form.event_name.errors %}
                            <div class="invalid-feedback">
                                {% for error in event_form.event_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
