<!DOCTYPE html>
<html>
	<head>
		<title>Person and Event Creation</title>
		<link
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
			rel="stylesheet"
		/>
		<link href="{{ url_for('static', filename='styles/user_setting.css') }}" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<h2>Autocomplete As An Alternate You</h2>
			<p class="lead">
				How would an alternate "you" think? Write with an AI text editor that autocompletes your
				thoughts, in a universe where you experienced something entirely different. Simulate yourself
				or any character.
			</p>

			<form method="post" action="{{ url_for('user_settings') }}" novalidate>
				{{ character_form.hidden_tag() }} {{ event_form.hidden_tag() }}
				<br />
				<h3>About You</h3>
				<p class="lead">The more info you give, the better the simulation :)</p>

				{% for field in character_form if field.name != 'csrf_token' %}
				<div class="form-group">
					{{ field.label(class="form-control-label") }} {% if field.type == 'TextAreaField' %}
					<textarea
						class="form-control"
						name="{{ field.name }}"
						placeholder="{{ field.render_kw.placeholder }}"
					>
{{ field._value() }}</textarea
					>
					{% else %} {{ field(class="form-control") }} {% endif %} {% if field.errors %}
					<span class="text-danger">{{ field.errors|first }}</span>
					{% endif %}
				</div>
				{% endfor %}
				<br />
				<h3>What If This Happened</h3>
				<p class="lead">Describe an event or scenario to drive the simulation.</p>

				{% for field in event_form if field.name != 'csrf_token' %}
				<div class="form-group">
					{{ field.label(class="form-control-label") }} {% if field.type == 'TextAreaField' %}
					<textarea
						class="form-control"
						name="{{ field.name }}"
						placeholder="{{ field.render_kw.placeholder }}"
					>
{{ field._value() }}</textarea
					>
					{% endif %} {% if field.errors %}
					<span class="text-danger">{{ field.errors|first }}</span>
					{% endif %}
				</div>
				{% endfor %}

				<!-- Modified Submit Button with Spinner -->
				<button type="submit" class="btn btn-primary" id="submit-button">
					<span
						class="spinner-border spinner-border-sm"
						role="status"
						aria-hidden="true"
						style="display: none"
						id="spinner"
					></span>
					Submit
				</button>
			</form>
		</div>

		<script>
			document.getElementById("submit-button").addEventListener("click", function () {
				document.getElementById("spinner").style.display = "inline-block"; // Show spinner
				this.childNodes[2].nodeValue = " Loading the simulation..."; // Change button text
			});
		</script>
	</body>
</html>
